.person-list {
    width: 100%;
    list-style: none;
    position: relative;
    padding: 0;
    display: inline-block;

    li a {
        padding:  0.1rem 0.2rem;
        line-height: 24px;
        cursor: pointer;
        text-transform: capitalize;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        border-radius: $border-radius;

        &:hover {
            background-color: $background-color-hover;
        }
    }

    span {
        flex: 2 1 auto;
    }

    i {
        flex: 0 1 0;
        text-align: right;
        font-size: 1rem;
        line-height: 1.5rem;

        &:hover {
            color: $action-color;
        }
    }
}

.person-details-list {
    list-style: none;
    padding: 0;

    li {
        line-height: 24px;

        span {
            font-weight: 600;
        }

        span::after {
            content: ': ';
        }
    }
}

.person-actions {
    display: inline-block;
    width: 100%;
    button {
        float: right;
        margin-left: 10px;
    }
}

.NxSearchField-container {
    margin-bottom: 1rem;
}
