html {
    height: 100%;
    min-height: 100%;
    background-color: $background-color;
}

body,
.application,
.application > div {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

.application-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content {
    flex: 1;
}

button .BarsLoader__loader {
    margin-bottom: -4px;
}

textarea {
    resize: vertical;
}

.filter {
    margin: 10px 0 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    border-bottom: 1px solid $border-color;

    .active {
        font-weight: 600;
    }
}

@-webkit-keyframes BarsLoader__loader--load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #85C4FF;
        background: #85C4FF;
        height: 1em; }
    40% {
        box-shadow: 0 -0.5em #023761;
        background: #023761;
        height: 1.25em; } }

@keyframes BarsLoader__loader--load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #85C4FF;
        background: #85C4FF;
        height: 1em; }
    40% {
        box-shadow: 0 -0.5em #023761;
        background: #023761;
        height: 1.25em; } }

.BarsLoader__loader {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
}
.BarsLoader__loader li {
    position: absolute;
}
.BarsLoader__loader li:nth-child(1n), .BarsLoader__loader li:nth-child(2n), .BarsLoader__loader li:nth-child(3n) {
    background: $novartis-blue;
    -webkit-animation: BarsLoader__loader--load1 1s infinite ease-in-out;
    animation: BarsLoader__loader--load1 1s infinite ease-in-out;
    width: 0.25em;
    height: 1em;
}
.BarsLoader__loader li:nth-child(1n), .BarsLoader__loader li:nth-child(3n) {
    position: absolute;
    top: 0;
    content: '';
}
.BarsLoader__loader li:nth-child(1) {
    left: 0;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.BarsLoader__loader li:nth-child(2) {
    left: 0.375em;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.BarsLoader__loader li:nth-child(3) {
    left: 0.75em;
}
