// base colors
$black: #333333;
$white: #ffffff;
$blue-dark: #023761;
$novartis-blue: #0460A9;
$blue-light: #5291DD;

$placeholder-gray: #888888;
$gray: #9d9d9d;
$gray-medium: #c6c6c6;
$gray-highlight: #e3e3e3;
$gray-light: #ededed;

// custom restored bootstrap colors
$success-color: #28a745;
$warning-color: #ffc107;
$error-color: #dc3545;

// special colors
$action-color: $novartis-blue;
$border-color: $gray;

// font color definitions
$font-color: $black;
$font-color-inverse: $white;
$font-color-light: $placeholder-gray;
$font-color-hover: $action-color;
$font-color-success: #009E11;
$font-color-error: #CC0000;

$link-color: #0064a1;
$link-color-hover: $font-color-hover;

// background colors
$background-color: $white;
$background-color-dark: #f9f9fb;
$background-color-hover: #F6F6F6;
$background-color-error: #EA9999;
$background-color-warning: #FCF8E4;
$background-color-grayed-out: $gray-highlight;

// size
$border-radius: 3px;
$border-weight: 1px;

$animation-time: 0.6s;
$animation-time-fast: 0.4s;
$animation-delay: 0.05s;
